/*HTML*/
*{
margin: 0%;
padding: 0%;
}
html {
font-size: 62.5%;
}

/*Index*/
header {
    height: 100%;
    font-family: "Shadows Into Light", cursive;
    background-color: rgb(247, 247, 250);
    background: linear-gradient(90deg, rgb(247, 247, 250) 0%, rgb(181, 86, 169) 37%, rgb(255, 47, 198) 93%);
    position: sticky;
    top: 0px;
    z-index: 1;
        nav{
            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                .logo {
                    width: 100px;
                    height: 100px;
                  }
                li{
                    list-style: none;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 3rem;
                        }
                }
            }
        }
  }
  main{
    section{
        .articulos {
            margin-top: 10px;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .ar{
                font-size: 2rem;
                width: 250px;
                height: 450px;
                margin: 20px;
                border: 1.5px solid black;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                .productos {
                    width: 250px;
                    height: 250px;
                  }
                  .cont-button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        height: 40px;
                        width: 100px;
                        border: none;
                        border-radius: 20%;
                        background-color: #FFC8DD;
                      }
                      
                    input:active {
                        border: 2px solid blueviolet;
                      }
                  }
            }
          }
    }

  }
  .footer {
    height: 100px;
    margin-top: 100px;
    font-family:'Shadows Into Light', cursive;
    background-color: rgb(247, 247, 250);
    background: linear-gradient(90deg, rgb(247, 247, 250) 0%, rgb(181, 86, 169) 37%, rgb(255, 47, 198) 93%);
    position: sticky;
    top: 0px;
    .container {
        height: 100px;
        display: grid;
        margin-left: 20px;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: "f1 f2 f3 f4" "f5 f5 f5 f5" "f5 f5 f5 f5";
        .f1 {
            grid-area: f1;
            .if {
                width: 50px;
                height: 50px;
              }
          }
        .f2{
            grid-area: f2;
            .if {
                width: 50px;
                height: 50px;
              }
        }
        .f3{
            grid-area: f3;
            .if {
                width: 50px;
                height: 50px;
              }
        }
        .f4{
            grid-area: f4;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .if {
                width: 50px;
                height: 50px;
              }
              .tf3 {
                font-size: 1.8rem;
              }
        }
        .f5{
            grid-area: f5;
            display: flex;
            justify-content: center;
            align-items: center;
            .ifd {
                width: 20px;
                height: 20px;
              }
              
              .tf2 {
                font-size: 1rem;
              }
        }
      }
  }