/*HTML*/
*{
margin: 0%;
padding: 0%;
}
html {
font-size: 62.5%;
}

/*Index*/
/*
header {
    height: 100%;
    background-color: rgb(207, 152, 243);
    background: linear-gradient(90deg, rgb(125, 74, 158) 0%, rgb(86, 15, 145) 37%, rgb(255, 47, 198) 93%);
    position: sticky;
    top: 0px;
    z-index: 1;
        nav{
            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                .logo {
                    width: 100px;
                    height: 100px;
                  }
                li{
                    list-style: none;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 3rem;
                        }
                }
            }
        }
  }
  main{
    section{
        .articulos {
            margin-top: 10px;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .ar{
                font-size: 2rem;
                width: 250px;
                height: 450px;
                margin: 20px;
                border: 1.5px solid black;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                .productos {
                    width: 250px;
                    height: 250px;
                  }
                  .cont-button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        height: 40px;
                        width: 100px;
                        border: none;
                        border-radius: 20%;
                        background-color: #FFC8DD;
                      }
                      
                    input:active {
                        border: 2px solid blueviolet;
                      }
                  }
            }
          }
    }

  }
  .footer {
    height: 100px;
    margin-top: 100px;
    font-family:'Shadows Into Light', cursive;
    background-color: rgb(24, 24, 43);
    position: sticky;
    top: 0px;
    .container {
        height: 100px;
        display: grid;
        margin-left: 20px;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: "f1 f2 f3 f4" "f5 f5 f5 f5" "f5 f5 f5 f5";
        .f1 {
            grid-area: f1;
            .if {
                width: 50px;
                height: 50px;
              }
          }
        .f2{
            grid-area: f2;
            .if {
                width: 50px;
                height: 50px;
              }
        }
        .f3{
            grid-area: f3;
            .if {
                width: 50px;
                height: 50px;
              }
        }
        .f4{
            grid-area: f4;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .if {
                width: 50px;
                height: 50px;
              }
              .tf3 {
                font-size: 1.8rem;
                color: aliceblue;
              }
        }
        .f5{
            grid-area: f5;
            display: flex;
            justify-content: center;
            align-items: center;
            .ifd {
                width: 20px;
                height: 20px;
              }
              
              .tf2 {
                font-size: 1rem;
                color: aliceblue;
              }
        }
      }
  }*/
  body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}